@media (max-width: 1204px) {
    .form {
        width: auto;
        height: auto;
    }

    .easepick-wrapper {
        z-index: 9;
    }

    .form__input--activity {
        width: 180px;
    }

    .form__input--date {
        width: 200px;
    }

    .form__input--guests {
        width: 140px;
    }

    .card__text {
        font-size: 14px;
    }
}

@media (max-width: 1139px) {
    .header {
        height: auto;
        min-height: 500px;
        border-radius: 0 0 40px 40px;
    }

    .container--header {
        justify-content: flex-start;
        row-gap: 90px;
    }

    .header__title {
        font-size: 32px;
    }

    .nav-list {
        display: none;
    }

    .nav__user {
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }

    .main {
        row-gap: 60px;
        padding: 40px 0 40px 0;
    }

    .section__header {
        margin-bottom: 34px;
    }

    .title-1 {
        font-size: 26px;
    }

    .section__cards--6row {
        grid-template-columns: repeat(3, 1fr);
    }

    .section__cards--4row {
        grid-template-columns: repeat(2, 1fr);
    }

    .section__cards--2row {
        grid-template-columns: 1fr;
    }

    .about-us__title {
        font-size: 26px;
    }

    .about-us__text {
        font-size: 14px;
    }

    .footer {
        padding: 60px 0;
    }

    .footer__row {
        grid-template-columns: 1fr 3fr;
    }

    .footer__subscribe {
        grid-column-start: 1;
        grid-column-end: -1;
        max-width: unset;
    }

    .subscribe__input {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .form {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .form__input-wrapper {
        width: 100%;
    }

    .button--search {
        width: 100%;
    }

    .about-us {
        gap: 24px;
    }
}

@media (max-width: 845px) {
    .about-us {
        grid-template-columns: 1fr;
    }

    .about-us__desc {
        gap: 18px;
    }
}

@media (max-width: 768px) {
    .section__cards--6row {
        grid-template-columns: repeat(2, 1fr);
    }

    .section__cards--4row {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__row {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media (max-width: 600px) {
    .button--huge {
        padding: 12px;
        font-size: 16px;
    }

    .card--wide {
        grid-template-columns: 1fr;
    }

    .footer__nav-wrapper {
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 445px) {
    .autoComplete_wrapper>input {
        width: auto !important;
    }

    .section__cards--6row {
        grid-template-columns: repeat(1, 1fr);
    }

    .title-1 {
        font-size: 20px;
    }

    .card__title--big {
        font-size: 16px;
    }

    .card__text {
        font-size: 12px;
    }

    .card__footer-link {
        font-size: 11px;
    }

    .about-us__title {
        font-size: 20px;
    }

    .about-us__text {
        font-size: 12px;
    }
}