/* Nav Icon */
.mobile-nav-btn {
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    position: relative;
    width: 40px;
    height: 4px;
    background-color: #fff;

    &::before,
    &::after {
        content: '';
        display: block;

        position: absolute;
        left: 0;

        width: 40px;
        height: 4px;

        background-color: #fff;
        transition: transform 0.1s ease-in,
            top 0.1s linear 0.1s;
    }

    &::before {
        top: calc(4px * -2);
    }

    &::after {
        top: calc(4px * 2);
    }
}

.nav-icon.nav-icon--active {
    background-color: transparent;

    &::before,
    &::after {
        top: 0;
        transition: top 0.1s linear,
            transform 0.1s ease-in 0.1s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

/* Layout */

.mobile-nav-btn {
    z-index: 999;
    display: none;
}