.about-us {
    max-width: 1144px;
    margin: 0 auto;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about-us__desc {
    display: grid;
    gap: 32px;
    align-content: center;
}

.about-us__title {
    font-weight: 600;
    font-size: 32px;
}

.about-us__text {
    font-size: 16px;
    line-height: 2;
    color: #5B5B5B;
}

.about-us__btn {
    justify-self: flex-start;
}

.about-us__img {
    border-radius: 32px;
    height: 100%;
    object-fit: cover;
}