.footer {
    background-color: #F9F9F9;
    padding: 120px 0;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 64px;
}

.footer__copyright {
    max-width: 354px;
    display: grid;
    gap: 16px;
}

.footer__text {
    font-size: 13px;
    color: #5B5B5B;
    margin-bottom: 16px;
}

.footer__socials {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* Footer nav */
.footer__nav-wrapper {
    display: flex;
    gap: 64px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-title {
    font-weight: 500;
    font-size: 18px;
}

.footer__nav-list {
    display: grid;
    gap: 12px;
}

.footer__nav-link {
    font-size: 13px;
    color: #5B5B5B;

    &:hover {
        color: #7b61ff;
    }
}